.all {
    font-family:  Microsoft JhengHei;
}
/*照片*/
.myPhotoblock {
    height: 470px;
}
.myPhoto {
    width: 65%;
    height: 370px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(../../images/me.jpg);
    background-size:cover;
}
/*關於我*/
.aboutmeblock {
    height: 470px;
}
.aboutmeblock_1{
    padding-top: 70px;
    padding-bottom: 40px;
}
.aboutmeblock_2{
    font-size: 20pt;
    font-weight: bold;
    font-family: DFKai-sb;
    padding-bottom: 30px;
}
.aboutmeblock_2 span{
    padding: 3px;
    background-color: rgb(235, 237, 100);
    border-top-right-radius:90px;
}
.myname {
    font-size: 30pt;
    font-weight: bolder;
    font-family: DFKai-sb;
}
.myschool{
    font-size: 18pt;
    font-weight: bold;
}
.aboutmeblock_3{
    padding-bottom: 64px;
}
.aboutmeblock_3font{
    width: 90%;
    font-size: 16pt;
    text-indent: 2em;
    line-height: 28pt;
    font-weight: 550;
}
.aboutmeblock_4 img{
    width: 6%;
    float: right;
    margin-left: 25px;
    padding-bottom: 15px;
}
/*標題*/
.title{
    font-size: 22pt;
    font-weight: bolder;
    text-align: center;
    background-image: url(../../images/titlebg.png);
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 30px;
}
/*專業技能*/

.skillbarblock{
    height: 610px;
}
.skillbar{
    width: 90%;
    margin-top: 30px;
}

.accordionP {
    font-size: 16pt;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
}

.allimg img{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
}
.accordionblock{
    height: 1120px;
}
.pjimg img{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 80px;
}

.bottom{
    font-size: 14pt;
    font-family: DFKai-sb;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}


/*變色*/
#img1 a:hover{
    background-image: url(../../images/user2.png);
}